body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5eaec;
    height: 100% !important;
    overflow: scroll !important;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #1B1616;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #17A6E8;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #fe9ce3;
    color: #1B1616;
}

header {
    background-color: #1B1616;
    color: white;
    padding: 20px 0;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 8px;
    text-align: left;
}
table th {
    background-color: #1B1616;
    color: white;
}
table td {
    border: 1px solid #1B1616;
}
table tbody tr:nth-child(odd) {
    background-color: #f5eaec;
}

footer {
    background-color: #1B1616;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #fc6916;
}
a:hover {
    color: #fe9ce3;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fc6916;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-top: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
    transition: width 0.3s ease;
}

.search-container.expanded {
    width: 400px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border-radius: 50px 0 0 50px;
    transition: padding 0.3s ease;
}

.search-container.expanded .search-input {
    padding: 0 20px;
}

.search-button {
    background: #2196F3;
    color: white;
    border: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    border-radius: 0 50px 50px 0;
}

.search-button i {
    font-size: 18px;
}

.search-button:hover {
    background: #0b7dda;
}



aside.notifications-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 90%;
    margin-top: 300px;
    background-color: #1B1616;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
}

aside.notifications-panel h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

aside.notifications-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.notification-item {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

aside.notification-item:hover {
    background-color: #e0e0e0;
}