*{
    user-select: none;
}

.submit{
    border-radius: 5px;
    padding: 5px;
    background-color: #17A6E8;
    border: none;
}

.submit:hover{
    padding: 10px;
    transition: .3s linear;
    background-color: #dc5103;
}

body {
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    font-optical-sizing: auto;
    background-color: #1B1616;
    color: #17A6E8;
    height: 100vh;
    width: 100vw;
    background-image: url("data:image/svg+xml,%0A%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1920' height='1080' fill='%231B1616'%3E%3C/rect%3E%3Cpath d='M0 1028L64 1016.7C128 1005.3 256 982.7 384 978.3C512 974 640 988 768 969C896 950 1024 898 1152 864.2C1280 830.3 1408 814.7 1536 797.5C1664 780.3 1792 761.7 1856 752.3L1920 743L1920 1081L1856 1081C1792 1081 1664 1081 1536 1081C1408 1081 1280 1081 1152 1081C1024 1081 896 1081 768 1081C640 1081 512 1081 384 1081C256 1081 128 1081 64 1081L0 1081Z' fill='%2317A6E8' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}



.container {
    width: 100%;
    margin: 0 auto;
    /* background-color: #EEEDE5; Container background color */
    padding: 20px;
    border-radius: 8px;
    /* color: #1B1616; Adjusted text color */
    text-align: center;
    color: #17A6E8;
}


.top{
    display: flex;  
    justify-content: space-around;  
}

.bottom{
    display: flex;  
    justify-content: space-around; 
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #17A6E8;
    background-color: #17A6E8;
    /*border-radius: 100%;*/
}

button{
  background-color: #17A6E8;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #17a6e882;
}

.profile-info {
    margin-bottom: 20px;
    text-align: left; /* Align text left */
    padding-left: 20px; /* Add padding for text alignment */
}
.profile-info h2 {
    color: #FC6916; /* Header color */
    margin-bottom: 10px;
}
.profile-info p {
    margin: 5px 0;
}
.achievements {
    margin-bottom: 20px;
}
.achievements h3 {
    color: #FC6916; /* Header color */
    margin-bottom: 10px;
}
.quizzes {
    margin-bottom: 20px;
}
.quizzes h3 {
    color: #FC6916; /* Header color */
    margin-bottom: 10px;
}
.friends {
    margin-bottom: 20px;
}
.friends h3 {
    color: #FC6916; /* Header color */
    margin-bottom: 10px;
}
.friends ul {
    list-style-type: none;
    padding: 0;
}
.friends ul li {
    margin-bottom: 5px;
}

